* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
    background-color: #F5EDE0 !important;
}

/* CABEÇALHO E NAVEGAÇÃO*/
header, 
.navbar {
    background-color: #DBC9B2 !important;
    width: 100% !important;
    min-height: 100px !important; 
    margin-bottom: 0 !important;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* LOGO */
.navbar-brand img {
    height: 80px;
    width: auto;
    position: static;
    display: block;
}

/* MENU */
.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #3e2723 !important;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    color: #A67B51 !important;
}

/* --- conteúdo --- */

.quem-somos-title {
    color: #A67B51; 
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-subtitle {
    color: #3e2723;
    font-weight: 600;
    margin-bottom: 15px;
}

.text-secondary-color {
    color: #4A4A4A;
    line-height: 1.8;
}

.icon-color {
    color: #A67B51;
    margin-top: 20px;
}

.divider-line {
    height: 2px;
    background-color: #DBC9B2;
    border: none;
    opacity: 0.8;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


/* --- RODAPÉ --- */
.footer {
    background-color: #DBC9B2;
    color: #4A4A4A;
    text-align: center;
    padding: 20px;
}
