* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
    background-color: #F5EDE0 !important;
}

/* CABEÇALHO E NAVEGAÇÃO*/
header, 
.navbar {
    background-color: #DBC9B2 !important;
    width: 100% !important;
    min-height: 100px !important; 
    margin-bottom: 0 !important;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* LOGO */
.navbar-brand img {
    height: 80px;
    width: auto;
    position: static;
    display: block;
}

/* MENU */
.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #3e2723 !important;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    color: #A67B51 !important;
}

/* --- ESTILOS DOS BOTÕES --- */
.card .btn-primary {
    background-color: #A67B51 !important; 
    border-color: #A67B51 !important;
}

.card .btn-primary:hover {
    background-color: #D9985F !important; 
    border-color: #D9985F !important;
}

.modal .btn-success {
    background-color: #A67B51 !important; 
    border-color: #A67B51 !important;
}

.modal .btn-success:hover {
    background-color: #D9985F !important; 
    border-color: #D9985F !important;
}

/* --- RODAPÉ --- */
.footer {
    background-color: #DBC9B2;
    color: #4A4A4A;
    text-align: center;
    padding: 20px;
}
